* {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(7, 116, 52);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li {
  display: inline;
  float: right;
}

li a:hover {
  background-color: #111;
  transition: background-color 0.5s;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* table {
  table-layout: fixed;
  /* width: 100%; */
/* border-collapse: collapse;
  border: none;
  margin-top: 50px;
} */

/* th {
  text-align: center;
  width: 50%;
  color: #111;
}

td {
  text-align: center;
  width: 50%;
  padding: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #111;
}

#tableinsert {
  background-color: aliceblue;
  position: absolute;
} */

table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-top: 50px;
}

th {
  text-align: center;
  width: 50%;
}

td {
  text-align: center;
  width: 50%;
  padding: 3px;
}
