* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 0px;
  padding: 0px;
  background-color: aliceblue;
}
img {
  border-radius: 20%;
  width: 3%;
  margin-top: 0px;
  margin-left: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(40, 93, 206);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li {
  display: inline;
  float: right;
}

li a:hover {
  background-color: #111;
  transition: background-color 0.5s;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
